body {
  background: black;
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
  text-align: center;

  ul {
    margin: 0;
    padding: 0;
  }

  .apod {
    display: grid;
    grid-template-rows: minmax(200px, 500px) auto;
    grid-template-columns: minmax(320px, 800px);
    justify-content: center;
    align-items: center;

    .img {
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .hidden {
    display: none;
  }

  .particle {
    top: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
